:root{
   --cor-fundo: rgb(255, 246, 119);
   --cor-titulo: rgb(128, 77, 1);
}


body{
    background-color: var(--cor-fundo);
}
.titulo{
    color: var(--cor-titulo);
    text-align: center;
    font-size: 50px;
}
.topo{
    color: var(--cor-titulo);
    text-align: center;
    font-size: 25px;
}